{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ToDo List</title>
		<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
	</head>
	<body>
		<h1>TODO List</h1>
		<br>
		<h2>List of Todos</h2>
		
		<table id="todosî">
			{% for task in all_tasks %}
				<tr>
					<th>{{task.title}}</th>
					<th><a href="desc/">click here</a></th>
					<th>{{task.is_completed}}</th>
				</tr>
			{% endfor %}
		</table>
		
	</body>
</html>