{% extends "Home/base.html" %}

{% block title %}ToDO|List{% endblock %}

{% block body %}
	<p class="h1 mt-5">Your Created To-Dos</p>
	<div class="container-fluid mt-1">
		<table class="table table-hover table-dark table-bordered" id="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Status</th>
					<th scope="col">Time</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for task in all_tasks %}
					<tr>
						<th scope="row">{{forloop.counter}}</th>
						<td>{{task.title}}</td>
						<td><a href="desc/{{task.id}}">{{task.description|default:"No information"|slice:"0:10"}}...</a></td>
						<td>{{task.is_completed}}</td>
						<td>{{task.time}}</td>
						<td><a href="del/{{task.id}}">delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<p class="h1 mt-5">Add more To-Dos</p>
	<div class="container-fluid my-1">
		<form class="row g-3" action="Add_todo/" method="post">{% csrf_token %}
			<div class="col-md-6">
				<label  class="form-label">Title</label>
				<input type="text" class="form-control" name="title">
			</div>
			<div class="col-12">
				<label class="form-label">Description</label>
				<input type="text" class="form-control" name="description" placeholder="Task Description">
			</div>
			<div class="col-md-4">
				<label  class="form-label">State</label>
				<select name="is_completed" class="form-select">
					<option selected>No</option>
					<option>Yes</option>
				</select>
			</div>
			<div class="col-md-6">
				<label  class="form-label">Date & time</label>
				<input type="datetime-local" class="form-control" name="time" required>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Add to To-Do</button>
			</div>
		</form>
	</div>
{% endblock %}